footer{
    background-color: #fff!important;
    margin:0 auto;
    margin-top:6rem;
    
    padding: 1rem;
    border-top: 1px solid #e3e3e3;
    color: #000;

}

footer span a{
    color: grey;
    display: inline-block;
    margin-left:1rem;
}