footer{
    background-color: #fff!important;
    margin:0 auto;
    margin-top:6rem;
    
    padding: 0.1rem;
    border-top: 1px solid #e3e3e3;
    color: #000;


    z-index: 2;
    color: #999;
    padding: 2px 1rem;
    font-size: 14px;
    background: #4e4e50 url(/img/bg.jpg) repeat-x center center;
    background-position-y: -60px;
    position: relative;


}

footer span a{
    color: grey;
    display: inline-block;
    margin-left:1rem;
}