{{#extend "css"}}
<style>
</style>
{{/extend}}

{{!> general/header}}

    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>让资产活起来 <br>为投资人保驾护航</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">利用大数据，解决更多不确定数据， 结合实力机构保驾护航， 解决资产端的不活跃情况， 解决投资人顾虑，让投资更放心透明!</p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">了解更多</a>
          </div>
        </div>
      </div>
    </header>

    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">不良资产服务</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">国内最大的不良资产清收服务O2O平台,致力于互联网金融生态圈的健康发展与服务创新,让不良资产处置变得简单!</p>
            <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">开始旅途!</a>
          </div>
        </div>
      </div>
    </section>

    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">产品服务</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-heart text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">房产抵押不良处置</h3>
              <p class="text-muted mb-0">贷前审核严格、标的价值高、违约风险低、抵押物可变现，主要以人工电话施压催款，遇借款人无偿还能力时，可启动资产处置措施，抵押物变现降低损失!</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-diamond text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">线上短贷不良处置</h3>
              <p class="text-muted mb-0">快速审核放款、客单价较低、不适合强力催收手段，推荐采用智能电话还款提醒＋人工电话催收施压，杜绝逾期升级。</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-paper-plane text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">消费金融不良处置</h3>
              <p class="text-muted mb-0">一般为耐用消费品或服务贷款，采用分期付款形式，资金方与商家一般为不同机构（商家相对缺乏催收经验）建议采用全委托方案，一站式解决回收问题!</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-newspaper-o text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">汽车金融不良处置</h3>
              <p class="text-muted mb-0">覆盖全国的车贷行业不良资产处置资源，资源灵活调配、属地化撮合派单、致力找回抵押车辆，收车风险有效约束，确保操作合法合规。</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="p-0" id="tools">
      <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery">
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/floor.jpg">
              <img class="img-fluid" src="img/floor.jpg" style="background-size:background-size:cover;" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    智能催告中心
                  </div>
                  <div class="project-name">
                    还款日前后自动语音提醒还款；零人工介入，标准化结果反馈，逾期风险提前获知
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/2.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/2.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    催迹·移动催收工具
                  </div>
                  <div class="project-name">
                    首创外访移动催收客户端产品；免费电话沟通债务人、第一时间反馈现场催收音视频信息
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/3.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/3.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    电催呼叫中心
                  </div>
                  <div class="project-name">
                    标准化催收业务专用呼叫中心产品；通话、短信、录音全满足；低资费、快速开通、随时扩容
                  </div>
                </div>
              </div>
            </a>
          </div>
          {{!-- <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/4.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/4.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/5.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/5.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/6.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/6.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div> --}}
    </section>

    <section class="bg-dark text-white">
      <div class="container text-center">
        <h2 class="mb-4">立即开始资产之旅!</h2>
        <a class="btn btn-light btn-xl sr-button" href="#contact">联系!</a>
      </div>
    </section>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">联系方式!</h2>
            <hr class="my-4">
            <p class="mb-5">开启您的私人资产之旅， 随时联系我们的专业顾问为您解答和服务! </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 ml-auto text-center">
            <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
            <p><a href="tel: 021-60561386">021-60561386</a></p>
          </div>
          {{!-- <div class="col-lg-4 mr-auto text-center">
            <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
            <p>
              <a href="mailto:276009549@qq.com">276009549@qq.com</a>
            </p>
          </div> --}}
        </div>
      </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/creative.min.js"></script>

  </body>

</html>
